@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('./fonts/aktiv/AktivGrotesk_W_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('./fonts/aktiv/AktivGrotesk_W_BdIt.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('./fonts/aktiv/AktivGrotesk_W_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('./fonts/aktiv/AktivGrotesk_W_MdIt.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('./fonts/aktiv/AktivGrotesk_W_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('./fonts/aktiv/AktivGrotesk_W_It.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('./fonts/aktiv/AktivGrotesk_W_Lt.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('./fonts/aktiv/AktivGrotesk_W_LtIt.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}
